@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

@layer components {
    p.error {
        @apply text-red-500 mt-0.5 min-h-6;
    }
}
